@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

html, body {
  box-sizing: border-box;
}


@theme {
  --dark-blue: #4381AB;
  --light-blue: #6EC4FF;

  --dark-green: #598342;
  --light-green: #82cf6d;

  --dark-orange: #b57627;
  --light-orange: #fbac4d;

  --dark-red: #b13939;
  --light-red: #e86666;

  --gray: #F5F6FF;
  --text: #001D38;

  --font-open-sans: 'Open Sans', sans-serif;
  --font-nunito: 'Nunito', sans-serif;

  --shadow-sm: 0px 4px 4px 0px rgba(0, 29, 56, 0.25);
  --shadow-lg: 0px 6px 12px 0px rgba(0, 29, 56, 0.25);

  --breakpoint-3xl: 100rem;
  --breakpoint-4xl: 120rem;

}

p {
  font-family: var(--font-nunito), sans-serif;
  font-weight: normal;
  color: var(--text);
}

h2 {
  font-size: 48px;
  font-family: var(--font-open-sans), sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-family: var(--font-open-sans), sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
}
